# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Environment Variables
.env

# Logs
logs/

# Uploaded Images
backend/uploads/

# Operating System Files
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints/