{% macro primary(text, icon="", type="button", classes="") %}
<button type="{{ type }}" class="btn btn-primary {{ classes }}">
    {% if icon %}
    <i class="bi bi-{{ icon }} me-2"></i>
    {% endif %}
    {{ text }}
</button>
{% endmacro %}


{% macro secondary(text, icon="", type="button", classes="") %}
<button type="{{ type }}" class="btn btn-outline-secondary {{ classes }}">
    {% if icon %}
    <i class="bi bi-{{ icon }} me-2"></i>
    {% endif %}
    {{ text }}
</button>
{% endmacro %}


{% macro danger(text, icon="", type="button", classes="") %}
<button type="{{ type }}" class="btn btn-danger {{ classes }}">
    {% if icon %}
    <i class="bi bi-{{ icon }} me-2"></i>
    {% endif %}
    {{ text }}
</button>
{% endmacro %}